<?xml version="1.0"?>
<robot name="uthai" 
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="pi" value="3.141592654"/>
    <!-- Import Rviz colors -->
    <xacro:include filename="$(find uthai_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find uthai_description)/urdf/uthai.visuals.xacro" />
    <xacro:include filename="$(find uthai_description)/urdf/uthai.inertia.xacro" />
    <xacro:include filename="$(find uthai_description)/urdf/uthai.transmissions.xacro" />
    <xacro:include filename="$(find uthai_description)/urdf/uthai.right_leg.xacro" />
    <xacro:include filename="$(find uthai_description)/urdf/uthai.left_leg.xacro" />
    <xacro:include filename="$(find uthai_description)/urdf/uthai.gazebo.xacro" />
    <!-- Used for fixing robot -->
    <!-- <link name="world"></link> -->
    <!-- <joint name="world_fixed" type="fixed"><origin xyz="0 0 0.756" rpy="0 0 0"/><parent link="world"/><child link="base"/></joint> -->
    <link name="base"></link>
    <joint name="base_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base"/>
        <child link="pelvis_link"/>
    </joint>
    <!-- pelvis_link -->
    <link name="pelvis_link">
        <visual>
            <xacro:insert_mesh_pelvis_link />
        </visual>
        <collision>
            <xacro:insert_mesh_pelvis_link />
        </collision>
        <inertial>
            <xacro:insert_inertia_pelvis_link />
        </inertial>
    </link>
    <!-- imu joint -->
    <joint name="imu_fixed" type="fixed">
        <parent link="pelvis_link"/>
        <child link="imu_link"/>
        <origin xyz="0.0 0 0.45" rpy="0 0 0"/>
    </joint>
    <link name="imu_link"></link>
    <!-- leg link -->
    <xacro:uthai_right_leg parent="pelvis_link"/>
    <xacro:uthai_left_leg parent="pelvis_link"/>
</robot>