<?xml version="1.0"?>
<robot name="uthai" 
    xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="pi" value="3.141592654"/>
    <!-- Import Rviz colors -->
    <xacro:include filename="$(find uthai_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find uthai_description)/urdf/uthai_leg.xacro" />
    <!-- Used for fixing robot -->
    <link name="world"></link>
    <joint name="world_fixed" type="fixed">
        <origin xyz="0 0 0.756" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base"/>
    </joint>
    <link name="base"></link>
    <joint name="base_fixed" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="base"/>
        <child link="pelvis_link"/>
    </joint>
    <!-- pelvis_link -->
    <link name="pelvis_link">
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://uthai_description/meshes/pelvis.STL"/>
            </geometry>
        </collision>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://uthai_description/meshes/pelvis.STL"/>
            </geometry>
            <material name="grey"/>
        </visual>
        <inertial>
            <origin xyz="-0.00562901 0.00000232 -0.02326557"/>
            <mass value="0.664564"/>
            <inertia ixx="0.00504607" ixy="-0.00000002" ixz="-0.00000322" iyy="0.00052209" iyz="0.00000002" izz="0.00510184" />
        </inertial>
    </link>
    <!-- imu joint -->
    <joint name="imu_fixed" type="fixed">
        <parent link="pelvis_link"/>
        <child link="imu_link"/>
        <origin xyz="0.0 0 0.45" rpy="0 0 0"/>
    </joint>
    <link name="imu_link"></link>
    <xacro:uthai_left_leg parent="pelvis_link"/>
    <xacro:uthai_right_leg parent="pelvis_link"/>
</robot>